* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "Monserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

i {
  padding: 0 5px;
}

.main-center {
  margin: 0 25%;
}

.center {
  margin: 0 15%;
}

.content {
  flex: 1;
}

/*header*/
.header {
  flex: 1;
}

.header__top-bar {
  background-color: #333333;
}

.header__buttons {
  text-align: right;
}

.header__buttons button {
  font-family: "Monserrat regular", sans-serif;
  font-size: 13px;
  color: #858585;
  background: none;
  border: none;
  width: 90px;
  height: 45px;
}

.header__buttons button:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #00c8c8;
  cursor: pointer;
}

.header__buttons li {
  display: inline-block;
}

.header__cart-button button {
  background-color: #00c8c8;
  color: #ffffff;
  margin-left: 61px;
  width: 140px;
  height: 45px;
  border: 0;
}

.header__cart-button button:hover {
  background-color: rgba(0, 200, 200, .7);
  cursor: pointer;
}

.header__logo h1 {
  font-size: 100%;
  font-weight: normal;
}

.header__logo {
  font-family: "Monserrat Light", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.05em;
}

.header__logo:hover {
  cursor: pointer;
  color: #00c8c8;
}

.header__logo span {
  font-weight: bold;
}

.header__menu li {
  margin-left: 50px;
}

.header__menu li {
  display: inline-block;
}

.header__menu a {
  font-size: 13px;
  text-transform: uppercase;
  color: #222222;
}

.header__menu a:hover {
  color: #00c8c8;
}

.header__second-bar {
  margin-top: 34px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(150, 149, 149, 0.712);
}

/*drop down*/
.navigation-panel ul li {
  display: inline-block;
}

.navigation-panel ul {
  position: relative;
}

.drop-down {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  font-family: sans-serif;
  color: #333333;
  width: 466px;
  height: 525px;
}

.drop-down a {
  color: #7c7c7c;
  text-decoration: none;
  text-transform: none;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}

.drop-down li {
  padding-bottom: 10px;
}

.drop-down h2 {
  color: #6c6769;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
  padding: 20px 0;
}

.drop-down a:hover {
  color: #00c8c8;
}

.drop-down-banner {
  background-color: #333333;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.05em;
  padding: 60px 0;
  width: 400px;
  position: absolute;
  bottom: 30px;
  left: 33px;
}

span {
  font-weight: bold;
}

.navigation-panel li:hover div {
  display: block;
}

.navigation-panel li:hover li {
  display: block;
}

.navigation-panel li:hover .drop-down-list {
  display: flex;
  justify-content: space-around;
}

.drop-down-item ul li {
  margin: 0;
}
/*main*/

.main__sort-items {
  margin: 54px 0 50px;
}

.main__sort-items li {
  display: inline-block;
}

.main__sort-items li a {
  text-transform: uppercase;
  color: #727272;
  font-size: 13px;
  line-height: 20px;
}

.main__sort-items li:not(:first-child):not(:last-child) {
  margin: 0 20px;
}

.main__sort-items li a:hover {
  color: #00c8c8;
}

/* .main__item-hover:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  cursor: pointer;
} */

.main-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main__item1 {
  width: 380px;
  height: 450px;
  background: url('./img/item-woman-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__item2 {
  width: 380px;
  height: 450px;
  background: url('./img/item-woman.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__item3 {
  width: 380px;
  height: 450px;
  background: url('./img/item-man.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__item4 {
  width: 380px;
  height: 450px;
  background: url('./img/item-man.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__item5 {
  width: 380px;
  height: 450px;
  background: url('./img/item-man.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__item6 {
  width: 380px;
  height: 450px;
  background: url('./img/item-woman-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__item7 {
  width: 380px;
  height: 450px;
  background: url('./img/item-woman-3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__item8 {
  width: 380px;
  height: 450px;
  background: url('./img/item-woman.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-items__parent {
  position: relative;
  margin-bottom: 30px;
}

.main-items__parent:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  cursor: pointer;
}

.main__item_effect {
  display: none;
  background: #fff;
  color: #727272;
  text-align: center;
  height: 200px;
}

.main__item_effect h2 {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  padding: 20px 0;
  font-weight: 600;
}

.main__item_effect p {
  font-family: 'Roboto';
  font-size: 15px;
  padding-bottom: 20px;
}

.main__item_effect input {
  width: 60px;
}

.main__item_effect button {
  width: 176px;
  height: 40px;
  color: #fff;
  background: #333333;
  text-transform: uppercase;
  letter-spacing: 0.09em;
}

.main__item_effect button:hover {
  cursor: pointer;
}



.main-items__parent:hover .main__item_effect {
  display: block;
  position: absolute;
  width: 380px;
  z-index: 9999;
}

/*footer*/
.footer-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #f8f8f8;
  padding: 60px 0 30px;
}

.footer-item {
  padding: 0 25px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #969696;
}

.footer-item a {
  color: #969696;
  text-decoration: none;
}

.footer-item a:hover {
  color: #00c8c8;
}

.footer-item h3 {
  padding-bottom: 30px;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  color: #575153;
  text-transform: uppercase;
}

.footer-item li {
  padding-bottom: 19px;
  list-style: none;
}
/*footer__bottom-bar*/
.footer__bottom-bar {
  background-color: #333333;
  display: flex;
  justify-content: space-around;
  color: #858585;
  font-size: 13px;
  padding: 15px;
}

.footer__author {
  display: flex;
}

.footer__author p {
  margin: 0 14px;
}
